*{
    margin: 0;
    padding: 0; 
}
html{
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
body{
    margin: 5px 20px;
    background:#ffffff;
    font-size:15px;
    line-height:24px;
    font-family:"Arial";
    text-align:justify;
    overflow-x: hidden;
    /* overflow: hidden; */
}

/* ================= Header Section============  */
.head-container{ 
    max-width: 1170px;
    /* border:1px solid red; */
    display: inline;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
}
.bottom-header{
    padding:0;
}
.logo1{
    margin:-10px 10px 0 0;
    width: 60px;
    float:left;
}
.logo2{
    margin-top: -10px;
    width: 60px;
    float:right;
}
h1{
	font-family: 'Rockwell';
	font-weight:normal;
	font-size:25px;
	line-height:34px;
	color:#000000;
	text-align:center;
	padding:10px 0 0 0;
}
h1 span{
	font-weight:bold;
	font-size:35px;
	color:#053a7b;
	text-transform:uppercase;
}

/*=============== navigation section ================ */
nav{
    margin-top: 20px;
    /* border: 2px solid red; */
    border-radius: 5px;
    padding: 5px;
    background: #f5e2e2;
    position:sticky;
    top: 0;
    z-index: 1000;
}
nav .navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.navigation .menu1, .menu2{
    color: #053a7b;
    font-size: 23px;
    margin-left: 10px;
    display: none;
}
.navigation ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: 10px;
}
.navigation ul li a{
    color: #053a7b;
    /* border: 1px solid #f3f3ea; */
    font-weight: bold;
    text-decoration: none;  
    transition: 0.3s;
    padding: 7px;
}
.navigation ul li a:hover,
.navigation ul li a.active{
    color: #c0d4ff;
    background-color: #053a7b;
    border: 1px solid #053a7b;
    border-radius: 5px;
    text-shadow: #000000 1px 0px 3px;
    transition: 0.3s;
}
.navigation .loginSignin button{
    color: #053a7b;
    padding: 5px;
    border: 1px solid #053a7b;
    border-radius: 30px;
}
.navigation .loginSignin button:hover{
    color: #c0d4ff;
    font-size: 14px;
    background-color: #053a7b;
    text-shadow: #000000 1px 0px 3px;
    transition: 0.3s;
    cursor: pointer;
}



/* ====================LoginPage PoP Up=============== */
.loginpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* border: 2px solid red;
    height: 400px; */
}
.wrapper{
    position: fixed;
    top: 130px;
    left: 35%;
    width: 400px;
    height: 400px;
    background: transparent;
    /* border: 2px solid rgba(red, green, blue, .5); */
    border: 2px solid #053a7b;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease,height .2s ease;
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 460px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .3s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(410px);
}
.wrapper.active .form-box.register{
    transition: transform .3s ease;
    transform: translateX(0);
}
.wrapper .form-box.register form{
    padding: 10px;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #053a7b;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2{
    font-size: 2em;
    color: #053a7b;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #053a7b;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #053a7b;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #053a7b;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: #053a7b;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #053a7b;
    margin-right: 3px;
}
.remember-forgot a{
    color: #162938;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.form-box .btn{
    width: 100%;
    height: 45px;
    background: #053a7b;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #053a7b;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 500;
}
.login-register p a:hover{
    text-decoration: underline;
}


/*================ Welcome message ============ */
.backGroundBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96.5%;
    height: 410px;
    padding: 60px 20px 0px 20px;
    /* border: 2px solid red; */
    /* z-index: -1; */
}

.backGroundBody .welcome-msg{
    width: 650px;
    margin-top: 30px;
    margin-left: 20px;
}
.welcome-msg h1{
    font-size: 2.2em;
    color: #053a7b;
}
.welcome-msg p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.welcome-msg a{
    border: 1px solid #053a7b;
    border-radius: 5px;
    color: #053a7b;
    font-weight: bold;
    text-decoration: none;  
    transition: 0.3s;
    padding: 7px;
}
.welcome-msg a:hover{
    color: #c0d4ff;
    background-color: #053a7b;
    text-shadow: #000000 1px 0px 3px;
    transition: 0.3s;
}
 
/* -----------director photo----------- */
.director-pht{
    width: 400px;
    height: 300px;
    background-color: #d5edff;
    border: 2px solid #053a7b;
    border-radius: 10px;
    /* padding: 10px; */
    margin-right: 20px;
    overflow: hidden;
}
.director-pht .dPhoto{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 7px;
}
.director-pht .dPhoto img{
    border-radius: 5px;
}
.director-pht .dPhoto p a{
    font-family: Arial;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
}
.director-pht .dPhoto p a:hover{
    font-weight: bold;
}
.director-pht .top{
    width: 100%;
    height: 35px;
    background-color: #162938;
    text-align: center;
    line-height: 35px;
    color: #eeeff3;
    font-size: 20px;
}
.director-pht .bottom{
    width: 100%;
    height: 35px;
    background-color: #162938;
    text-align: center;
    line-height: 35px;
    color: #eeeff3;
    font-size: 20px;
    margin-top: 25px;
}

/* ==================institute profile section ============= */
.insti-prof{
    /* border: 1px solid red; */
    /* margin-top: 30px; */
    /* padding-top: 80px; */
    /* padding: 10px; */
    padding: 40px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.insti-prof h1{
    width: 100%;
    color: #053a7b;
    font-size: 25px;
    text-align: start;
    font-weight: bold;
}
.insti-prof img{
    width: 100%;
    height: auto;
}


/* ===================Academic Courses Section===============  */
#courses{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    padding: 20px;
    padding-top: 40px;
}
#courses h1,hr{
    width: 30%;
    color: #053a7b;
    font-size: 25px;
    text-align: start;
}
#courses .section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 30px;
}
#courses .section .box{
    width: 330px;
    height: 150px;
    color: #ffffff;
    background: red;
    border: 1px solid rgb(60, 0, 255);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
#courses .section .box .desc{
    display: flex;
    gap: 3px;
}
#courses .section .box .desc .line{
    width: 0px;
    height: 65px;
    margin-right: 10px;
    border: 3px solid rgb(0, 255, 255);
}
#courses .section .box a{
    width: 80px;
    color: #c0c7ff;
    border: 1px solid white;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}
#courses .section .box a:hover{
    color: white;
}
#courses .section #box2{
    color: #162938;
    background: rgb(0, 238, 255);
}
#courses .section #box2 .line{
    border: 3px solid #fe0101;
}
#courses .section #box2 a{
    color: #162938;
}
#courses .section #box2 a:hover{
    color: red;
}
#courses .section #box3{
    background: rgb(111, 255, 0);
}
#courses .section #box3 .line{
    border: 3px solid rgb(8, 0, 255);
}
#courses .section #box3 a{
    color: #162938;
}
#courses .section #box3 a:hover{
    color: red;
}
#courses .section #box4{
    background: rgb(200, 0, 255);
}
#courses .section #box4 .line{
    border: 3px solid rgb(111, 255, 0);
}
#courses .section #box5{
    color: #162938;
    background: rgb(255, 247, 0);
}
#courses .section #box5 .line{
    border: 3px solid rgb(255, 0, 238);
}
#courses .section #box5 a{
    color: #162938;
}
#courses .section #box5 a:hover{
    color: rgb(217, 0, 255);
}
#courses .section #box6{
    background: rgb(8, 0, 255);
}


/* ===============Gallery Section============  */
.gallery{
    /* border: 1px solid red; */
    padding: 40px 10px 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.gallery h1{
    width: 100%;
    color: #053a7b;
    font-size: 25px;
    text-align: start;
    font-weight: bold;
}
.gallery .gbox{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.gallery .gbox .boximg{
    width: 250px;
    height: 200px;
    padding: 4px;
    border: 1.5px solid #053a7b;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: #053a7b 0px 5px 5px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.gallery .gbox .boximg img{
    width: 100%;
    height: 100%;
    border: 1px solid #c0c7ff;
    border-radius: 10px;
}