*{
    margin: 0;
    padding: 0; 
}
body{
    margin: 5px 20px;
    background:#fff;
    font-size:15px;
    line-height:24px;
    font-family:"Arial";
    text-align:justify;
}

/* ================= Header Section============  */
.head-container{ 
    max-width: 1170px;
    /* border:1px solid red; */
    display: inline;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
}
.bottom-header{
    padding:0;
}
.logo1{
    margin:-10px 10px 0 0;
    width: 60px;
    float:left;
}
.logo2{
    margin-top: -10px;
    width: 60px;
    float:right;
}
h1{
	font-family: 'Rockwell';
	font-weight:normal;
	font-size:25px;
	line-height:34px;
	color:#000000;
	text-align:center;
	padding:10px 0 0 0;
}
h1 span{
	font-weight:bold;
	font-size:35px;
	color:#053a7b;
	text-transform:uppercase;
}

/*=============== navigation section ================ */
nav{
    margin-top: 20px;
    /* border: 2px solid red; */
    padding: 3px;
    background-color: #f3f3ea;
}
nav .navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.navigation .menu1, .menu2{
    color: #053a7b;
    font-size: 23px;
    margin-left: 10px;
    display: none;
}
.navigation ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: 10px;
}
.navigation ul li a{
    color: #053a7b;
    border: 1px solid #f3f3ea;
    font-weight: bold;
    text-decoration: none;  
    transition: 0.3s;
    padding: 7px;
}
.navigation ul li a:hover{
    color: #c0d4ff;
    background-color: #053a7b;
    border: 1px solid #053a7b;
    border-radius: 5px;
    text-shadow: #000000 1px 0px 3px;
    transition: 0.3s;
}
.navigation .loginSignin button{
    color: #053a7b;
    padding: 5px;
    border: 1px solid #053a7b;
    border-radius: 30px;
}
.navigation .loginSignin button:hover{
    color: #c0d4ff;
    font-size: 11px;
    background-color: #053a7b;
    text-shadow: #000000 1px 0px 3px;
    transition: 0.3s;
    cursor: pointer;
}