html{
    scroll-behavior: smooth;
}
/* ================= Header Section============  */
#home{
    display: flex;
    align-items: center;
        position: absolute;
        right: 10px;
        left: 190px;
        height: 80px;
        transition: left 300ms;
        padding: 1rem 1rem;
        border: 3px solid purple;
        border-radius: 15px;
}
#home span{
    position: relative;
    right: 10px;
    left: 190px;
    top:30px;
}
.logo1{
    width: 100px;
    position: relative;
    float:left;
    padding-bottom: 1rem;
}
.logo2{
    width: 100px;
    position: relative;
    left:35%;
    float:right;
    
}
/* ================= Side navigation Section============  */

.side-menu {
    height: 100%;
    width: 165px;
    left: 0;
    bottom: 0;
    top: 0;
    transition: left ;
    background-color: darkorchid;
    border: 3px solid purple;
    border-radius: 15px;
}
.side-menu ul {
    text-align: center;
    list-style-type: none;  
    padding: 0%;    
}

.side-menu a {
    display: block;
    padding: 1rem 0rem;
    text-decoration: none;
}

.side-menu a span {
    display: block;
    text-align: center;
    font-size: 2rem;
}

.side-menu a span, .side-menu a small {
    color: #f5f2f7;
    }
    .side-menu a span:hover, .side-menu a small:hover {
        color: rgb(59, 8, 101)
        }

    /* ================main content============  */
   main{
    position: relative;
    margin-top: 1.4rem;
   }
    main .container {
        display: grid;
        text-align: left; 
        position:absolute ;
        left: 190px;
        bottom:200px;
        background-color: rgb(194, 133, 224);
        border: 3px solid purple;
        border-radius: 15px;
        width: 800px;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 45px;;
    }
    /* Right content */
.right{margin-top: 2.2rem;padding-left: 1.5rem;}
.profile{
    position:absolute ;
    right: 90px;
    top: 200px;
    transition: right ;
    background-color: rgb(210, 181, 224);
    border: 3px solid purple;
    border-radius: 15px;

}

.right .announcements,.right .announcements.updates{
    display: grid;
    text-align: left; 
    position:relative ;
     left:72%;
     bottom: 350px;
    background-color: rgb(194, 133, 224);
    border: 3px solid purple;
    border-radius: 15px;
width: 350px;
padding-left: 1.5rem;
}
.right .announcements .updates .message{
    gap: 1rem;
    line-height: 1.5;
    padding: .5rem 0;
}
